/* #=id, .=class*/

body {
    background-color: lightblue;
}

.login {
	float: right;
}

div.main {
	background-color: lightgray;
	float: center;
	width: 60%;
	height: 100%;
	margin: auto; /*center*/
}

div.header {
	background-color: white;
	float: center;
	margin: auto; /*center*/
	overflow: auto;
}

#sf_header {
	text-align: center;
}